# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Xcode
# ==========================
DerivedData/
build/

*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/

# ==========================
# Node.js
# ==========================
LocalServer/node_modules/

# npm logs
npm-debug.log*

# ==========================
# Certificates
# ==========================

# Ignore the private key
LocalServer/certificates/server.key